{{#if user}}
  <div class="username">{{user.name}}</div>
{{else}}
  <form action="/login" method="post">
    <legend{{#if message.class}} class="{{message.class}}"{{/if}}>{{#if message.text}}{{message.text}}{{else}}Please input your name and password:{{/if}}</legend>
      <div class="fields">
          <label for="name">Name:</label>
          <input type="text" name="name" />
      </div>
      <div class="fields">
          <label for="password">Password:</label>
          <input type="password" name="password" />
      </div>
      <div class="fields">
          <input type="submit" value="log in" />
      </div>
  </form>
{{/if}}
