<% /* some shortcutting first */
  var pD = { title: "setup", logo: '/images/logo.png' }
    , mIs = false
    , ut = locals.utils;
  
  if( typeof locals.pageData == 'object' ) {
    pD = locals.pageData;
    if(typeof pD.meta !== 'undefined' && typeof pD.meta.mIs !== 'undefined' && typeof pD.meta.mIs.header !== 'undefined') {
      mIs = pD.meta.mIs.header;
    }
  }
%>
<!doctype html>
<html>
  <head>
    <title><%= pD.title %></title>
    <link rel='stylesheet' href='/css/admistyle.css'>
    <link rel='stylesheet' href='/css/adminstyle.css'>
  </head>

  <body>
    <header>
      <div id="logo">
        <% if (pD.logo) { %> 
          <img src="<%= pD.logo %>" alt="<%= pD.title %>">
        <% }else{ %>
          <%= pD.title %>
        <% } %>
      </div>
      
      <% if ( typeof mIs !== 'undefined' && mIs != false ) { %>
        <nav>
          <ul>
            <% ut.each(mIs, function(mI){ %>
              <li><a href="<%= mI.value.url %>"><%= mI.value.text %></a></li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
      
    </header>
    
    <article>
