<% 
  var ut = locals.utils
    , settings = locals.settings || false
    , msgs = locals.msgs || false
    , errs = locals.errs || false;
    
    
%>

<% include adminheader.ejs %>

<% include ../errs.ejs %>
<% include ../msgs.ejs %>

<div class="info">
  This page will hold overviews over various plugin options.

  <h2>Plugins:</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>      
      <% ut.each(locals.settings, function(k,s){ %>
        <%= k %>:<%=s%>
      <%})%>
      
      <% ut.each(locals.plugins, function(pluginName, plugin) { %>
      
        <% var setting = locals.settings[pluginName]; %>
        <tr>
          <td><a href="/admin/plugins/<%= ut.slugify(pluginName) %>"><%= pluginName %></a></td>
          <td><%= setting.description.value %></td>
          <td>
              
              <% var hamletsQuestion = "turn on";
              if( setting.published.value == true ){
                hamletsQuestion = "turn off";
              } %>
              
              <button type="submit" value="<%= hamletsQuestion %>"><%= hamletsQuestion %></button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>


<% include adminaside.ejs %>
<% include adminfooter.ejs %>
