<% 
  var ut = locals.utils;
%>

<% include adminheader.ejs %>

<% ut.deprecated_each(locals.messages, function(msg) { %>
  <div class="<%= msg.value.css %>"><%= msg.value.text %></div>
<% }); %>

<div class="info">
  This page will hold overviews over various possible options,
  
  <h2>Plugins:</h2>
  <ul class="plugins">
    <% ut.deprecated_each(locals.settings, function(set) { %>
      <% if(typeof set.value.name === "string") { %>
        <li>
          <a href="/admin/plugins/<%= ut.slugify(set.value.name) %>"><%= set.value.name %></a>
        </li>
      <% } else { %>
        <% ut.deprecated_each(set.value.name, function(s) { %>
          <%= s.key %>:<%= s.value %>
        <% }); %>
      <% } %>
    <% }); %>
  </ul>
  
</div>


<% include adminaside.ejs %>
<% include adminfooter.ejs %>
