<% 
  var ut = locals.utils;
%>

<% include adminheader.ejs %>

<% ut.each(locals.messages, function(key, msg) { %>
  <div class="<%= msg.css %>"><%= msg.text %></div>
<% }); %>

<div class="info">
  This page will hold overviews over various possible options,
  
  <h2>Plugins:</h2>
  <ul class="plugins">
    <% ut.each(locals.plugins, function(k,s){ %>
      <%= k %>:<%=s%>
    <% }) %>
    <% ut.each(locals.settings, function(key, set) { %>
      <li>
        <a href="/admin/plugins/<%= ut.slugify(set.name.value) %>"><%= set.name.value %></a>
      </li>
    <% }); %>
  </ul>
</div>


<% include adminaside.ejs %>
<% include adminfooter.ejs %>
