<% /* some shortcutting first */
  var pageData = locals.pageData || { title: "setup", logo: {src: '/images/logo.png', title: 'jaeh.at', alt: 'jaeh.at'} }
    , menuItems = locals.menuItems || false
    , ut = locals.utils;
  
%>

<!doctype html>
<html>
  <head>
    <title><%= pageData.title %></title>
  
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/adminstyle.css'>
  </head>

  <body>
    <header>
      <div id="logo">
        <% if (pageData.logo && pageData.logo.src) { %> 
          <img src="<%= pageData.logo.src %>" alt="<%= pageData.logo.alt %>" title="<%= pageData.logo.title %>">
        <% }else{ %>
          <%= pageData.title %>
        <% } %>
      </div>
      
      <% if ( typeof menuItems !== 'undefined' && ut.count(menuItems) > 0 ) { %>
        <nav>
          <ul>
            <% ut.each(menuItems.header, function(k, mI) { %>
              <li>
                <a href="<%= mI.url %>"><%= mI.text %></a>
              </li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
      
    </header>
    
    <article>
