<% /* some shortcutting first */
  var pD = { title: "setup", logo: '/images/logo.png' }
    , mIs = false
    , ut = locals.utils;
  
  if( typeof locals.pageData === 'object' ) {
    pD = locals.pageData;
  }
  
%>

<!doctype html>
<html>
  <head>
    <title><%= pD.title %></title>
  
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='stylesheet' href='/css/adminstyle.css'>
  </head>

  <body>
    <header>
      <div id="logo">
        <% if (pD.logo) { %> 
          <img src="<%= pD.logo.src %>" alt="<%= pD.logo.alt %>" title="<%= pD.logo.title %>">
        <% }else{ %>
          <%= pD.title %>
        <% } %>
      </div>
      
      <% if ( typeof menuItems !== 'undefined' && ut.count(menuItems) > 0 ) { %>
        <nav>
          <ul>
            <% ut.each(menuItems.header, function(menuItem) { %>
              <li>
                <a href="<%= menuItem.value.url %>"><%= menuItem.value.text %></a>
              </li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
      
    </header>
    
    <article>
