<!doctype html>

<head>
  <title>{{pageData.title}}</title>
  <link rel='stylesheet' href='/css/style.css'>
</head>

<body>
  <header>
    
    <div id="logo">
      {{#if pageData.logo}} 
        <img src="{{pageData.logo}}" alt={{pageData.title}}>
      {{else}}
        {{pageData.title}}
      {{/if}}
    </div>
    
    {{#if pageData.meta.mIs.header}}
      <nav>
        <ul>
          {{#each pageData.meta.mIs.header}}
            <li><a href="{{url}}">{{text}}</a></li>
          {{/each}}
        </ul>
      </nav>
    {{/if}}
    
  </header>
  
  <article>
    {{{body}}}
  </article>
  
  <aside>
    {{#if pageData.meta.aside.title }}
      <header>{{pageData.meta.aside.title}}</header>
    {{/if}}
    
    {{#if pageData.meta.aside.body }}
      <div>{{pageData.meta.aside.body}}</div>
    {{/if}}
    
    <section class="widget">
      {{#each pageData.meta.aside.widgets }}
        <ul class="{{name}}">
          {{#if title}}
            <li>{{title}}</li>
          {{/if}}
          <li>{{{body}}}</li>
        </ul>
      {{/each}}
    </section>
  </aside>
  
  <footer>
    {{pageData.footer}}
    
    {{#if pageData.meta.mIs.footer}}
      <nav>
        <ul>
          {{#each pageData.meta.mIs.footer}}
            <li><a href="{{url}}">{{text}}</a></li>
          {{/each}}
        </ul>
      </nav>
    {{/if}}
  </footer>
</body>

</html>

