posts index page.
{{#each posts}}
  <section class="post{{#each categories}} {{name}}{{/each}}">
    <header class="{{slug}}">{{title}}</header>
    <div class="body">
      {{body}}
    </div>
    <footer>{{footer}}</footer>
  </section>
{{/each}}

{{#unless posts}}
<div class="noposts">there are no posts to display</div>
{{/unless}}
