<% 
  var ut = locals.utils;
  
  var pag = locals.pagination;
%>

<% include ../header.ejs %>


<header>posts index page.</header>

<% if (pag.above.show == true) { %>
  <div class="pagination">

    <% if ( pag.prev.show == true ) { %>
      <a class="pag-prev" href="<%= pag.prev.url %>"><%= pag.prev.text %></a>
    <% } %> 
    
    <% if ( pag.count.show == true ) { %>
      showing page <%= pag.count.current %> of <%= pag.count.end %>
    <% } %>
    
    <% if ( pag.next.show == true ) { %>
      <a class="pag-next" href="<%= pag.next.url %>"><%= pag.next.text %></a>
    <% } %> 

  </div>
<% } %>


<% ut.each(locals.posts, function (p) { %>
  <section class="post<% ut.each(p.categories, function (cat) { %> <%= cat.name %><% }); %>">
    <header class="<%= p.value.slug %>">
      <a href="/post/<%=p.value.slug%>"><%= p.value.title %></a>
      <div class="createdAt"><%=: p.value.createdAt|momentize %></div>
    </header>
    <div class="body">
      <%= p.value.body %>
    </div>
    <footer><%= p.value.footer %></footer>
  </section>
<% }); %>

<% if ( ut.count(locals.posts) <= 0 ) { %>
  <div class="noposts">there are no posts to display</div>
<% } %>

<% if (pag.above.show == true) { %>
  <div class="pagination">

    <% if ( pag.prev.show == true ) { %>
      <a class="pag-prev" href="<%= pag.prev.url %>"><%= pag.prev.text %></a>
    <% } %> 
    
    <% if ( pag.count.show == true ) { %>
      showing page <%= pag.count.current %> of <%= pag.count.end %>
    <% } %>
    
    <% if ( pag.next.show == true ) { %>
      <a class="pag-next" href="<%= pag.next.url %>"><%= pag.next.text %></a>
    <% } %> 

  </div>
<% } %>


<% include ../aside.ejs %>
<% include ../footer.ejs %>
